//colors
$color-grey: #aaa;

//backgrounds
$background-dark: black;
$background-darkblue: rgb(2 10 81);
$gradient: linear-gradient(45deg, #FF0080, #FF8C00);

//spacing
$pd-sm: 1rem 2rem;
$pd-lg: 4rem;
$pd-md: 3rem;

//transition
$transition: .3s ease-out;
$transition-btn: 0.5s ease;

//shadows
$box-shadow: rgba(35, 55, 80, 0.3) 0px 6px 12px;

//border-radius
$box-radius: 8px;